boto3==1.35.67
botocore==1.35.67
Flask==3.1.0
flask-cors==5.0.0
pydicom>=3.0.1
waitress==3.0.2
mysql-connector-python>=8.0.33
requests-toolbelt>=1.0.0
highdicom>=0.21.1
redis>=4.5.5
orjson==3.10.11
pillow==11.0.0
pylibjpeg-openjpeg==2.4.0
