[submodule "ahi-batch-image-frame-retrieve/extern/json"]
	path = ahi-batch-image-frame-retrieve/extern/json
	url = https://github.com/nlohmann/json.git
[submodule "ahi-batch-image-frame-retrieve/extern/cxxopts"]
	path = ahi-batch-image-frame-retrieve/extern/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "ahi-batch-image-frame-retrieve/extern/curl"]
	path = ahi-batch-image-frame-retrieve/extern/curl
	url = https://github.com/curl/curl.git
[submodule "ahi-batch-image-frame-retrieve/extern/openjphjs"]
	path = ahi-batch-image-frame-retrieve/extern/openjphjs
	url = https://github.com/chafey/openjphjs.git
